<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>title</key>
		<string>ビシバシ教えるよ</string>
		<key>description</key>
		<string>大丈夫完全無血革命的精神不要</string>
		<key>audio</key>
		<string>music1.mp3</string>
		<key>chats</key>
		<array>
			<dict>
				<key>id</key>
				<integer>0</integer>
				<key>sender</key>
				<string>vatsal</string>
				<key>title</key>
				<string>あーテストまでもう3日だ</string>
				<key>detail</key>
				<string>試験3日的接近中</string>
				<key>time</key>
				<real>123456789123</real>
				<key>audio</key>
				<string>music3.mp3</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>sender</key>
				<string>nitin</string>
				<key>title</key>
				<string>大丈夫ビシバシ教えるよ</string>
				<key>detail</key>
				<string>大丈夫完全無血革命的精神不要</string>
				<key>time</key>
				<real>123456789123</real>
				<key>audio</key>
				<string>music2.mp3</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2</integer>
				<key>sender</key>
				<string>vatsal</string>
				<key>title</key>
				<string>はは　何言ってるの気のせいだよ</string>
				<key>detail</key>
				<string>不注意円満的症状集中</string>
				<key>time</key>
				<real>123456789123</real>
				<key>audio</key>
				<string>music3.mp3</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>3</integer>
				<key>sender</key>
				<string>nitin</string>
				<key>title</key>
				<string>ん、なんか音しなかった？</string>
				<key>detail</key>
				<string>普遍的音発生確率上昇的</string>
				<key>time</key>
				<real>123456789123</real>
				<key>audio</key>
				<string>music4.mp3</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>title</key>
		<string>Title one from property list</string>
		<key>description</key>
		<string>this is description form property list. this will be in small &amp; lite fonts.</string>
		<key>audio</key>
		<string>music2.mp3</string>
		<key>chats</key>
		<array>
			<dict>
				<key>id</key>
				<integer>0</integer>
				<key>sender</key>
				<string>vatsal</string>
				<key>title</key>
				<string>this is first chat title that i like to show you. music1.mp3</string>
				<key>detail</key>
				<string>this is first chat detail that i like to show you under the chat title.this is first chat detail that i like to show you under the chat title.\nthis is first chat detail that i like to show you under the chat title.</string>
				<key>time</key>
				<integer>123456789123</integer>
				<key>audio</key>
				<string>music1.mp3</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>sender</key>
				<string>nitin</string>
				<key>title</key>
				<string>this is first chat title that i like to show you. music2.mp3</string>
				<key>detail</key>
				<string>this is first chat detail that i like to show you under the chat title.this is first chat detail that i like to show you under the chat title.\nthis is first chat detail that i like to show you under the chat title.</string>
				<key>time</key>
				<real>123456789123</real>
				<key>audio</key>
				<string>music2.mp3</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2</integer>
				<key>sender</key>
				<string>vatsal</string>
				<key>title</key>
				<string>this is first chat title that i like to show you. music3.mp3</string>
				<key>detail</key>
				<string>this is first chat detail that i like to show you under the chat title.this is first chat detail that i like to show you under the chat title.\nthis is first chat detail that i like to show you under the chat title.</string>
				<key>time</key>
				<real>123456789123</real>
				<key>audio</key>
				<string>music3.mp3</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>3</integer>
				<key>sender</key>
				<string>nitin</string>
				<key>title</key>
				<string>this is first chat title that i like to show you. music4.mp3</string>
				<key>detail</key>
				<string>this is first chat detail that i like to show you under the chat title.this is first chat detail that i like to show you under the chat title.\nthis is first chat detail that i like to show you under the chat title.</string>
				<key>time</key>
				<real>123456789123</real>
				<key>audio</key>
				<string>music4.mp3</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
